<h1>All devices</h1>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title> devices </title>
</head>
<body>

  
<table>
  <tr>
    <th><%= sort_link 'IP', :ip %></th>
    <th><%= sort_link 'Name', :name %></th>
 	<th>Domain</th>
    <th>City</th>
    <th>Region</th>
    <th>Country</th>
    <th><%= sort_link 'Count', :traffic_count %></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.ip, device %></td>
 
   <td><%=h device.name %></td>
    
    <% if device.domains.first    %>
        <td><%= link_to device.domains.first.name, :controller => 'domains', :action => device.domains.first.id %></td>
    <% else %>
    	<td> No PTR </td>
    <% end %>

	<% if device.location    %>
    	<td><%=h device.location.city %></td>
    	<td><%=h device.location.state %></td>
    	<td><%=h device.location.country %></td>
	<% else %>
	    <td> - </td>
	    <td> - </td>
	    <td> - </td>
	<% end %>
	
    <td><%=h device.traffic_count %></td>
    <td><%= link_to 'Map', :controller => 'maps', :action => device.id %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Nmap', device, :confirm => 'Are you sure?', :method => :nmap %></td>
    <td><%= link_to 'Whois', device, :confirm => 'Are you sure?', :method => :whois %></td>
    <td><%= link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New device', new_device_path %>

</body>
</html>
